<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Login_Github">
    <classes>
      <class name="github_project.NewTest"/>
      <class name="github_project.case2"></class>
    </classes>
  </test> <!-- LoginSuccessfully -->
</suite> <!-- Suite -->
